@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  /*font-family: $fontfamily;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  /*font-family: $fontfamily;*/
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@font-face {
  font-family: "Aileron";
  font-display: swap;
  src: url("../fonts/AileronRegular.woff") format("woff"), url("../fonts/AileronRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  font-display: swap;
  src: url("../fonts/AileronBold.woff") format("woff"), url("../fonts/AileronBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 40;
}

.header__row {
  margin: 65px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__column {
  text-align: center;
  position: fixed;
}

.header__burger {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0px 0px 40px 0px;
}

.header__burger span {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 12.5px;
  background-color: black;
}

.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 5px;
  background-color: black;
}

.header__burger::before {
  top: 0;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, top 0.2s linear 0.2s;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
  transition: transform 0.2s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
}

.header__burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s linear;
  transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, bottom 0.2s linear 0.2s;
  transition: transform 0.2s linear, bottom 0.2s linear 0.2s;
  transition: transform 0.2s linear, bottom 0.2s linear 0.2s, -webkit-transform 0.2s linear;
}

.header__burger.active span {
  background-color: transparent;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s linear 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s linear 0.2s;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
  transition: top 0.2s linear, transform 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
  -webkit-transition: bottom 0.2s linear, -webkit-transform 0.2s linear 0.2s;
  transition: bottom 0.2s linear, -webkit-transform 0.2s linear 0.2s;
  -o-transition: bottom 0.2s linear, transform 0.2s linear 0.2s;
  transition: bottom 0.2s linear, transform 0.2s linear 0.2s;
  transition: bottom 0.2s linear, transform 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
}

.header__menu {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__menu.active {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__list {
  font-size: 18px;
}

.header__list li {
  margin: 0px 0px 25px 0px;
}

.header__list li a {
  color: #7f7f7f;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mark__row {
  text-align: center;
  width: 1130px;
  font-size: 48px;
}

.mark__title {
  font-weight: bold;
  color: #333333;
  margin: 0px 0px 30px 0px;
}

.mark__title span {
  color: #d63c37;
}

.mark__subtitle {
  line-height: 36px;
  font-size: 0.37em;
  color: #666666;
}

.introducing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 200px 0px 0px 0px;
}

.introducing__row1 {
  margin: 0px 0px 55px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introducing__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70%;
}

.introducing__title {
  font-family: "Caladea";
  font-size: 36px;
  margin: 0px 0px 50px 0px;
}

.introducing__title span {
  color: #d63c37;
  text-decoration: underline;
}

.introducing__subtitle {
  font-family: "Aileron";
  font-size: 18px;
  max-width: 480px;
  line-height: 36px;
  margin: 0px 0px 0px 900px;
}

.introducing__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introducing__column1 {
  margin: 0px 190px 0px 0px;
}

.introducing__img {
  max-width: 580px;
}

.introducing__img img {
  width: 100%;
}

.column {
  max-width: 440px;
  font-family: "Aileron";
  font-size: 18px;
  line-height: 36px;
  margin: 0px 0px 55px 0px;
}

.column__header1 {
  color: #d63c37;
  position: relative;
}

.column__header1:before {
  content: '';
  background-image: url("../img/icon/introducing_01.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: -60px;
}

.column__header1 {
  color: #d63c37;
  position: relative;
}

.column__header1:before {
  content: '';
  background-image: url("../img/icon/introducing_01.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: -60px;
}

.column__header2 {
  color: #d63c37;
  position: relative;
}

.column__header2:before {
  content: '';
  background-image: url("../img/icon/introducing_02.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: -60px;
}

.column__header3 {
  color: #d63c37;
  position: relative;
}

.column__header3:before {
  content: '';
  background-image: url("../img/icon/introducing_03.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: -60px;
}

.discover {
  padding: 200px 0px 90px 0px;
  background-color: #d63c37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discover__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 77%;
}

.discover__title {
  text-align: center;
  text-decoration: underline;
  color: #fcfcfc;
  font-size: 36px;
  margin: 0px 0px 90px 0px;
}

.discover__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discover__column1 {
  margin: 0px 45px 0px 0px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 90px 0px;
}

.block__body {
  font-family: "Aileron";
  text-align: right;
  margin: 0px 35px 0px 0px;
}

.block__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 30px 0px;
}

.block__text {
  font-size: 18px;
  max-width: 460px;
  line-height: 33px;
}

.block__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1512px) {
  .container {
    max-width: 970px;
  }

  .introducing {
    margin: 150px 0px 0px 0px;
  }

  .introducing__subtitle {
    margin: 0px 0px 0px 630px;
  }

  .introducing__column1 {
    margin: 0px 140px 0px 0px;
  }

  .discover {
    padding: 150px 0px 0px 0px;
  }

  .discover__title {
    margin: 0px 0px 80px 0px;
  }

  .block {
    margin: 0px 40px 80px 0px;
  }

  .block__body {
    margin: 0px 30px 0px 0px;
  }

  .block__title {
    margin: 0px 0px 27px 0px;
  }

  .block__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
}

@media (max-width: 1140px) {
  .mark__row {
    width: 800px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .introducing {
    margin: 100px 0px 0px 0px;
  }

  .introducing__subtitle {
    margin: 0px 0px 0px 460px;
    line-height: 30px;
  }

  .introducing__column1 {
    margin: 0px 90px 0px 0px;
  }

  .column {
    line-height: 30px;
  }

  .column__header1:before {
    left: -40px;
  }

  .column__header2:before {
    left: -40px;
  }

  .column__header3:before {
    left: -40px;
  }

  .discover {
    padding: 100px 0px 0px 0px;
  }

  .discover__title {
    margin: 0px 0px 70px 0px;
  }

  .discover__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .discover__column1 {
    margin: 0px 0px 0px 0px;
  }

  .block {
    margin: 0px 40px 70px 0px;
  }

  .block__body {
    margin: 0px 27px 0px 0px;
  }

  .block__title {
    margin: 0px 0px 25px 0px;
  }

  .block__text {
    line-height: 30px;
  }

  .block__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
  }
}

@media (max-width: 860px) {
  .mark__row {
    font-size: 44px;
    width: 500px;
  }

  .mark__title {
    margin: 0px 0px 20px 0px;
  }

  .mark__subtitle {
    line-height: 30px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  .introducing {
    margin: 50px 0px 0px 0px;
  }

  .introducing__title {
    text-align: center;
    font-size: 30px;
  }

  .introducing__footer {
    display: inline-block;
    text-align: center;
  }

  .introducing__subtitle {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    text-align: center;
  }

  .introducing__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .introducing__column1 {
    margin: 0px 0px 0px 0px;
  }

  .introducing__column2 {
    margin: 50px 0px 0px 0px;
  }

  .discover {
    padding: 50px 0px 0px 0px;
  }

  .discover__header {
    width: 90%;
  }

  .discover__title {
    margin: 0px 0px 60px 0px;
    font-size: 30px;
  }

  .discover__column1 {
    margin: 0px 0px 0px 0px;
  }

  .block {
    margin: 0px 40px 55px 0px;
  }

  .block__body {
    margin: 0px 25px 0px 0px;
  }

  .block__title {
    margin: 0px 0px 23px 0px;
  }

  .block__text {
    line-height: 28px;
  }

  .block__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

@media (max-width: 520px) {
  .mark__row {
    width: 300px;
    font-size: 35px;
  }
}

@media (max-width: 479.98px) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block__body {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .block__logo {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}